{% extends "includes/skeleton.html" %}
{% block title %}{{ category }}{% endblock %}
{{ super() }}
{% block right_side %}
    <div class="col col-md-9 col-sm-1">

        <h2>{{ category }} items ({{ items|length }} item(s))</h2>


        {% for item in items %}
            <a class="item" href="/{{ category }}/{{ item.title }}">{{ item.title }}</a>
            <br>
        {% endfor %}

        {% if logged_in %}
            <a class="item" href="/items/new">New Item</a>
        {% endif %}

    </div>
{% endblock %}