{% extends "includes/skeleton.html" %}
{% block title %} Home Page  {% endblock %}
{{ super() }}
{% block right_side %}
    <div class="col col-lg-9 col-md-7">
        <h2>latest items</h2>


            {% for item in latest %}
              <a class="item" href="/{{ item.category.name }}/{{ item.title }}">{{ item.title }} <a
                        class="sub-item" href="/{{ item.category.name }}">({{ item.category.name }})</a></a>
                <br>
            {% endfor %}

        {% if logged_in %}
            <a class="item" href="/items/new">Add New Item</a>
        {% endif %}
    </div>
{% endblock right_side %}
